<!DOCTYPE html>
<html>
<head>
  <title>Boda de Déborah y Pablo :: 1 de Diciembre 2012</title>
  <%= stylesheet_link_tag    "admin/application", :media => "all" %>
  <%= javascript_include_tag "admin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if flash[:notice] %>
  <div id="myModal" class="reveal-modal small">
    <h3><%= flash[:notice] %></h3>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <script type="text/javascript">$('#myModal').reveal();</script>
<% end %>
  
<div class="row">
  <%= yield %>
</div>
  

</body>
</html>