<div class="row">
  <h3>12:30 - La Ceremonia</h3>
  <div class="eight columns box">
    <p class="info">
      La ceremonia tendrá lugar en la Parroquia de Santa Eulalia de Lians, en Oleiros.
      Dada la cercanía al hotel (aprox. 1 kilómetro) lo idóneo sería partir desde el Hotel Portocobo para minimizar en número de vehículos desplazados.<br />
      La iglesia se encuentra en la Calle Camino del Parque, Oleiros, por la carretera AC-8510. El acceso recomendado es desde la carretera de Santa Cruz.
    </p>  
  </div>
  <div class="four columns">
    <iframe width="303" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=Cami%C3%B1o+do+Parque+1,+Oleiros&amp;aq=t&amp;sll=41.78587,2.36213&amp;sspn=1.736665,4.22699&amp;t=h&amp;ie=UTF8&amp;hq=&amp;hnear=Camino+del+Parque,+15993+Oleiros,+A+Coru%C3%B1a,+Galicia&amp;z=14&amp;ll=43.332449,-8.351729&amp;output=embed"></iframe>
  </div>
</div>

<div class="row">
  <h3>13:05 - Fin de la Ceremonia, fotos de exterior</h3>
  <div class="eight columns box">
    <p class="info">
      En este tiempo los novios haremos fotos en los exteriores y con los invitados. Los que así lo deseen pueden desplazarse al Hotel.
      Lo que decidan ir caminando podrán volver al hotel en un trayecto de 20 min bastante agradable si el tiempo nos acompaña.
    </p>
  </div>
  <div class="four columns">

    <div id="featured">
      <%= image_tag "lians1.jpg" %>
      <%= image_tag "lians2.jpg" %>
      <%= image_tag "lians3.jpg" %>
    </div>
  </div>
</div>

<div class="row">
  <h3>14:00 - Aperitivos y comida</h3>
  <div class="eight columns box">
    <p class="info">
      Darán comienzo los aperitivos en el Hotel Portocobo, con una duración aproximada de una hora. Si la climatología nos acompaña se realizará en los exteriores del hotel disfrutando de las vistas que nos brinda. Acto seguido pasaremos a el salón principal para comenzar la comida. Intentaremos que esta sea lo más amena posible para todos.
    </p>
  </div>
  <div class="four columns">
    <%= image_tag "hotel1.jpg", :title => "Portocobo" %>
  </div>
</div>

<div class="row">
  <h3>17:30 - Fiesta y más fiesta</h3>
  <div class="eight columns box">
    <p class="info">
      A partir de esta hora pasaremos a El Baile, la barra libre y la fiesta de verdad. Tendremos dos zonas, en la zona del banquete se pondrá una selección de música tranquila de los 70s, 80s y 90s para tomar unas copas y mantener una conversación tranquila (o los que quieran arreglar el país, adelante); pegado al salón del banquete tenemos la discoteca donde se servirá otra barra libre y la música para que todos bailemos con una sorpresa final :)
    </p>
  </div>
  <div class="four columns">
    <%= image_tag "disco1.jpg", :title => "Portocobo" %>
  </div>
</div>

