@import "variables";

div.landing {
  margin-top: 50px;
  background: $bg_trans_40;
}

div.landing_info,
div.landing_form {
  margin-top: 100px;  
}


div.box { 
  background: $bg_trans_40; 
  padding-bottom: 10px;
  p {
    font-size: 1.4em;
    letter-spacing: -0.1em;
    color: $white;
  }
}

h4.landing,
h1.landing {
  font-family: $helvetica-font;
  font-weight: normal;
  color: $white;
}