// COLORS
$white: #fff;
$grey: #999;
$black: #000;

//BACKGROUNDS
$bg_trans_40: transparent url(/assets/bg_trans_40.png) repeat;

// FONTS
$helvetica-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;