<!DOCTYPE html>
<html>
<head>
  <title>Boda de Déborah y Pablo :: 1 de Diciembre 2012</title>
  <%= stylesheet_link_tag    "users/application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>

<% if flash[:notice] %>
  <div id="myModal" class="reveal-modal small">
    <h3><%= flash[:notice] %></h3>
    <a class="close-reveal-modal">&#215;</a>
  </div>
  <script type="text/javascript">$('#myModal').reveal();</script>
<% end %>

<div class="row">
  <div class="eight columns">
    <h1>Deborah y Pablo</h1>  
  </div>
  <div class="four columns">
    <h3>Quedan: <%= @days %> <%= @days == 1 ? "día" : "días" %></h3>
    <%= link_to "[X] Salir".html_safe, destroy_user_session_path, :method => :delete %>
  </div>
</div>
<div class="row">
  <ul class="nav-bar">
    <li><%= link_to "Inicio", home_path %></li>
    <li><%= link_to "La Boda", weeding_path %></li>
    <li><%= link_to "Lista de Regalos", "http://pabloydeborah.zankyou.com/es", target: :blank %>
    <li><%= link_to "Confirmar Asistencia", confirmation_path %></li>
    <li><%= link_to "Libro de Visitas", messages_path %></li>
    <li><%= link_to "Entorno y Estancia", area_path %></li>
    <li><%= link_to "Contacto", about_path %></li>
  </ul>
</div>


<%= yield %>
<br /><br />
<div class="row centered">
  <div class="twelve colums centered">
    <p class="footer">
      Softwhisper Dev ®
    </p>
  </div>
</div>
</body>
</html>